# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/packages
/_ReSharper.MongoDB.Driver.Extensions
/_ReSharper.MongoDB.Driver.Extensions.Mapping
*.user
/MongoDB.Driver.Extensions.Mapping.suo
/MongoDB.Driver.Extensions.Mapping.suo